/* grace au etoile je dis bien que cela s'accorde a toute la page  */
* {
    box-sizing: border-box;
  }
  
  /* ici c'est le style de toute la page , */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* voici le header  principal avec la couleur de fond qui va avec */
  .header {
    padding: 40px;
    text-align: center;
    background:white;
    color: #2874A6;
  }
  
  /* ici on defini la taille du h1 qui ce de trouve dans le header de cette façon */
  .header h1 {
    font-size: 40px;
  }
  
  /*  ici c'est ma navbard et grace au -webkit-sticky je definis mon petit effet*/
  .navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /*  ici je defini le style des lien qui ce trouve dans ma navbar */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  /* le change de couleur du a */
  .navbar a:hover {
    background-color: #2874A6;
    color: black;
  }
  
  /* la c'est l'effet donné sur le lien lorsque je met ma souris dessus  */
  .navbar a.active {
    background-color: #802;
    color: white;
  }


  /*Div blank*/
  .blank {
    width: 1519px;
    height: 100px;
    background-color:#FAFAFA;
  }
  
  /* le style donnée a ma class row  */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* le style donnée a ma classe side*/
  .side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #C3C6C8;
    padding: 20px;
  }
   /* Div Menus contenu à intérieur div side*/
   .Menus {
    overflow: hidden;
    background-color: white;
    /*position: sticky;
    position: -webkit-sticky;
    top: 0;*/
  }
  .Menus a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .Menus a:hover {
    background-color:  #2874A6;
    color: black;
  }
  .Menus h2{
    text-align: center;
    color:black;
    background-color: white;
  }


  /* le style donnée a ma classe main*/
  .main {   
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    background-color: white;
    padding: 20px;
  }
  .main h3 {
    text-align: center;
  }
 
  .side2 {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #C3C6C8;
    padding: 20px;
    
    background-color: white;
    animation-name: animation1;
    animation-duration:4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes animation1 {
    from {background-color: white;}
    to {background-color: #82B8DB;}
    to {background-color:#2874A6;}
   
  }

 
  /* Footer */
  .footer {
    overflow: hidden;
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .footer a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .footer a:hover {
    background-color: #2874A6;
    color: black;
  }
  




  
  /* ici les media querry */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }